fastapi
uvicorn[standard]
supabase
python-dotenv
pydantic
python-multipart
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
scikit-surprise
pandas
prometheus-fastapi-instrumentator
prometheus-client
numpy<2.0.0